{
    "presets": [ 
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "node": "8.10"
                },
                "useBuiltIns": "usage"
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-syntax-object-rest-spread"
    ]
}
